amqp==5.1.1
bcrypt==4.0.1
bidict==0.22.1
billiard==4.1.0
cachetools==5.3.0
celery==5.3.1
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
config==0.5.1
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.6
dnspython==2.4.2
filelock==3.12.0
Flask==2.2.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-SocketIO==5.3.5
Flask-SQLAlchemy==3.0.3
fonttools==4.39.3
greenlet==2.0.2
httplib2==0.22.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
kombu==5.3.2
MarkupSafe==2.1.2
matplotlib==3.7.1
mysql-connector-python==8.0.33
nltk==3.8.1
numpy==1.24.2
packaging==23.0
Pillow==9.5.0
pipenv==2023.4.20
platformdirs==3.2.0
prompt-toolkit==3.0.39
protobuf==3.20.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pymongo==4.4.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-engineio==4.6.1
python-socketio==5.8.0
regex==2023.6.3
requests==2.29.0
rsa==4.9
six==1.16.0
SpeechRecognition==3.10.0
SQLAlchemy==2.0.9
tqdm==4.65.0
typing_extensions==4.5.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.15
vine==5.0.0
virtualenv==20.22.0
virtualenv-clone==0.5.7
wcwidth==0.2.6
Werkzeug==2.2.3
